@import "tailwindcss";
@import "tw-animate-css";
@import "./font.css";
@import "./base.css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../../apps/**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

summary {
  @apply cursor-pointer;
}

@font-face {
  font-family: "Junicode";
  src: url("/font/JunicodeVF-Roman-subset.woff2") format("woff2");
}

.title {
  font-family: "Junicode", serif;
  font-feature-settings: "swsh" 1;
}

button {
  cursor: pointer;
}
