@import "tailwindcss";
@import "tw-animate-css";

@import "@gitru/ui/globals.css";
@import "@gitru/diff/styles";

:root {
  --font-sans: Geist;
  --font-mono: GeistMono;

  /* ? Custom Properties */
  --main-custom-header-height: 40px;
  --main-window-height: calc(100vh - var(--main-custom-header-height));

  --main-left-sidebar-width: 40px;
  --main-actual-content-width: calc(100vw - var(--main-left-sidebar-width));

  --main-actual-content-padding: 8px;
}

*[data-tauri-drag-region] {
  app-region: drag;
}

/* html[data-theme="dark-classic"],
html[data-theme="dark-caffeine"],
html[data-theme="dark-claude"] {
  span {
    background-color: var(--shiki-dark-classic-bg) !important;
    color: var(--shiki-dark-classic) !important;
  }
} */

.hidden-scrollbar {
  scrollbar-width: none;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
