@import "@gitru/ui/globals.css";

:root {
  --font-sans: Geist;
  --font-mono: GeistMono;

  /* ? Custom Properties */
  --main-custom-header-height: 40px;
  --main-window-height: calc(100vh - var(--main-custom-header-height));

  --main-left-sidebar-width: 40px;
  --main-actual-content-width: calc(100vw - var(--main-left-sidebar-width));

  --main-actual-content-padding: 8px;
}

*[data-tauri-drag-region] {
  app-region: drag;
}
